<form>
  <h2 md-dialog-title>{{title}}</h2>
  <div md-dialog-content>

    <md-input-container class="full-width">
      <input type="text" mdInput placeholder="项目名称">
    </md-input-container>
    <md-input-container class="full-width">
      <input type="text" mdInput placeholder="项目描述">
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button type="button" md-raised-button color="primary" (click)="onClick()">保存</button>
    <button type="button" md-raised-button md-dialog-close>关闭</button>
  </div>

</form>
