<md-sidenav-container [class.myapp-dark-theme]="darkTheme">

  <md-sidenav #sidenav3 mode="over">
    <app-sidebar (navClick)="sidenav3.toggle()"></app-sidebar>
  </md-sidenav>

  <div class="site">
    <header>
      <!-- 子组件发射toggleDarkTheme，父组件接收toggleDarkTheme 以switchTheme-->
      <app-header (toggle)="sidenav3.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>
