<md-card>
  <md-card-header>
    <md-card-title>登录：</md-card-title>
  </md-card-header>
  <md-card-content>
    <!-- <md-input-container floatPlaceholder="float">
      <input type="text" mdInput placeholder="您的email">
    </md-input-container> -->
    <!-- <md-input-container hintLabel="必填项">
      <input type="text" mdInput placeholder="您的email">
    </md-input-container> -->
    <!-- <md-input-container>
      <input type="text" mdInput placeholder="您的email" >
      <span mdSuffix>@gmail.com</span>
    </md-input-container> -->
    <md-input-container align="end">
      <span mdPrefix>wang</span>
      <input type="text" mdInput placeholder="您的email">
      <span mdSuffix>@gmail.com</span>
      <md-hint>必填项</md-hint>
      <!-- <md-error></md-error> -->
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <p>还没有账户？
      <a href="">注册</a>
    </p>
    <p>忘记密码?
      <a href="">找回密码</a>
    </p>
  </md-card-actions>

</md-card>
