<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <md-card>
    <md-card-header>
      <md-card-title>注册：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input type="text" mdInput placeholder="您的email" formControlName="email">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="text" mdInput placeholder="您的姓名" formControlName="name">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="password" mdInput placeholder="您的密码" formControlName="password">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="password" mdInput placeholder="重复输入您的密码" formControlName="repeat">
      </md-input-container>
      <app-image-list-select [useSvgIcon]="true" [cols]="6" [title]="'选择头像：'" [items]="items" formControlName="avatar">
      </app-image-list-select>
      <app-age-input formControlName="dateOfBirth" (change)="onChange($event)"></app-age-input>
      <button md-raised-button type="button">注册</button>
    </md-card-content>
    <md-card-actions class="text-align">
      <p>还没有账户？
        <a href="">登录</a>
      </p>
      <p>忘记密码?
        <a href="">找回密码</a>
      </p>
    </md-card-actions>
  </md-card>



</form>
